.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  margin-bottom: 5px;
  font-size: 50px;
}

.textboxContainer{

  margin-top: 100px;
  font-size: 50px;

}

.inputsContainer{
  margin-top: 100px;
  font-size: 50px;
}

.header {
  margin-top: 2vh;
  font-size: 50px;
}
.create-flashcards {
  margin-left: 15vw;

}

.sign-in {
  margin-right: 15vw;
}

.flashcards {
  margin-left: 25vw;
  margin-right:25vw;
}

.buttonContainer {
  text-align: center;
}

.create-cards {
  text-align: center;  
  width: 80px;  
  height: 50px;  

}

.header{
  margin-bottom: 5px;
  font-size: 50px;
}

.textboxContainer{

  margin-top: 100px;
  font-size: 50px;

}

.inputsContainer{
  margin-top: 100px;
  font-size: 50px;
}